body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #f2f2f2;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #000000;
      opacity: 0.8;
   }
  

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #310882;
      color: white;
   }

   header {
      background-color: #363434;
      h1 {
         color: rgb(0, 0, 0);
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #393737;
      }
      .card {
         background: #393737;
         color: rgb(255, 255, 255);
      }
   }

   #portfolio {
      background: #2e2e2e;
      .section-title {
         color: rgb(255, 255, 255) !important;
      }
      .foto div {
         background: #1d1d1d;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #8c8888;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #454443 !important;
         color: white;
      }

      .main-badge {
         background: #4d3d3d !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #000000 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
